jdbc.driverClassName = com.mysql.cj.jdbc.Driver
jdbc.url = jdbc:mysql://localhost:3306/club_community?serverTimezone=UTC&characterEncoding=utf8&mysqlEncoding=utf8
jdbc.username =
jdbc.password =

redis.host = 127.0.0.1
redis.port = 6379